@media only screen and (min-width: 960px) {
    .content {
        width: 75%;
    }
    }

    .dark {
        border-top: 1px solid #333333 !important;
    }
    
    .contact-block {
        width: 250px;
        margin: 0 auto;
    }

    .small-width {
        width: 65%;
    }

    .white {
        color: #fff;
    }

    .highlight {
        background-color: #FFD849;
    }

    .no-margin {
        margin: 0;
    }

    .page {
        margin-bottom: 0;
    }

    .entry-meta {
        display: none;
    }