// This is a copy of all the styling in the "additional CSS Pannel in WP Customizer". It's already been added in the .scss files, but needs to be loaded last in order for these styles to take effect.

/* ===== Portfolio Tabbed Content Homepage ============ */

@media only screen and (min-width: 960px) {
  .wp-block-ub-tabbed-content-tabs-title {
    /*     width: 550px; */
    width: 325px;
    margin: 0 auto;
  }
}

.wp-block-ub-tabbed-content-tabs-content {
  border: none;
}

.wp-block-ub-tabbed-content-tab-title-wrap {
  border: none;
  padding: 10px 25px;
  margin: 0 auto;
}

/* ===== Homepage Section Formatting ============ */

@media only screen and (min-width: 960px) {
  .full-width-inner {
    width: 65%;
    margin: 0 auto;
  }
}

.above-img {
  margin-bottom: 0;
}

/* ===== Header > Navbar ============ */

.genesis-nav-menu .current-menu-item > a {
  color: #333333;
}

/* =====Text============ */

h3 {
  font-size: 24px !important;
}

/* =====After Style Breakout============ */

.footer-widgets-3 {
  padding: 3rem 7rem 0;
}

.wp-block-ub-tabbed-content .wp-block-columns {
  margin-bottom: 1rem;
}

.wp-block-ub-tabbed-content-tabs-content {
  padding: 25px 0;
}

#listcategorypostswidget-2 {
  margin-bottom: 10px !important;
}

.site-container .wp-block-button .wp-block-button__link {
  font-family: "arcon", "Source Sans Pro", sans-serif;
}

.site-container .wp-block-button.is-style-outline .wp-block-button__link {
  border: 1px solid currentColor;
}
