.site-footer {
	background-color: #3B3B3A;
	color: #A6A6A6;
	border-top: none;
}

.footer-widgets {
	padding: 30px 0;
	margin-bottom: 0 !important;
		background-color: #3B3B3A;
	color: #A6A6A6;
}

.footer-widgets h3 {
	font-size: 24px;
	color: #fff;
}

.footer-widgets p {
	font-size: 16px;
	font-weight: thin;
}

.wpcf7 p {
	margin: 0;
}

.wpcf7 input {
	padding: 10px 15px;
	height: 40px;
	background-color: #4A4A4A;
	border: 2px solid #4A4A4A;
	color: #fff;
	font-size: 16px;
	margin-bottom: 10px;
}

.wpcf7 .wpcf7-textarea {
	padding: 10px 15px;
	height: 40px;
		background-color: #4A4A4A;
	border: 2px solid #4A4A4A;
	color: #fff;
		font-size: 16px;
}

.wpcf7-submit {
	margin-top: 15px;
} 