@media only screen and (min-width: 960px) {
  .headline {
    font-size: 2.65rem;
    font-weight: 400;
    margin-bottom: 0;
    width: 60%;
  }
}

.widget-title {
  font-weight: 400 !important;
}

.page-id-2 h3 {
  font-size: 24px;
}

a {
  color: #333;
  text-decoration: none;
}

p {
  font-family: "arcon", "Source Sans Pro", sans-serif;
}

body {
  font-family: "arcon", "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  font-family: "arcon", "Source Sans Pro", sans-serif;
}

h2 {
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
}

h3 {
  font-size: 24px !important;
}

.site-inner p {
  font-family: "miller-text-roman", "Source Sans Pro", sans-serif;
  letter-spacing: 0.025rem;
  font-size: 0.95rem;
  line-height: 1.6;
}
